definitions:
  api_controllers.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  api_controllers.LoginResponse:
    properties:
      accessToken:
        type: string
      expiresInSeconds:
        type: integer
      tokenType:
        type: string
    type: object
  go-clean-architecture_internal_domain_entities.Person:
    properties:
      age:
        type: integer
      email:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
info:
  contact: {}
  description: Your API description
  title: Your API Title
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticates a user and returns an access token
      parameters:
      - description: Credentials
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_controllers.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api_controllers.LoginResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
      summary: Login and get JWT
      tags:
      - auth
  /persons:
    get:
      description: Get a list of all persons in the system
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/go-clean-architecture_internal_domain_entities.Person'
            type: array
      security:
      - BearerAuth: []
      summary: Get all persons
      tags:
      - persons
  /persons/{id}:
    get:
      description: Get details of a single person by their ID
      parameters:
      - description: Person ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/go-clean-architecture_internal_domain_entities.Person'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Get a person by ID
      tags:
      - persons
securityDefinitions:
  BearerAuth:
    description: Type "Bearer " followed by a space and your JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
